{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <title>Chattr</title>
    <script src="{% static 'chat/js/index.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
{% endblock head %}

{% block content %}
    <h1>Chattr</h1>
    <h2>Click on a chat room to enter!</h2><br>
    <ul id="room-list">
        {% for chat_room in chat_rooms %}
        <li><input type="button" onclick="enterRoom('{{ chat_room.room_name }}')" value="{{ chat_room.room_name }}"></li>
        {% endfor %}
    </ul>
{% endblock content %}