{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <title>Chattr | {{room_name}}</title>
    <script src="{% static 'chat/js/room.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
{% endblock head %}

{% block topnav %}
    <a id="rooms" href="/">
        <img src="{% static 'chat/images/chattr.png' %}">
    </a>
    <h1>{{room_name}}</h1>
{% endblock topnav %}

{% block content %}
    <textarea readonly id="chat-log"></textarea><br>
    <input id="chat-message-input" type="text">
    {{ room_name|json_script:"room-name" }}
{% endblock content %}