* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html, body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(rgb(4, 100, 255), black);
}

#topnav {
      overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
    height: 64px;
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: rgba(153, 153, 153, 0.5);
    color: rgb(179, 179, 179);
}

#topnav a img {
    height: 100%;
}

#topnav #rooms {
    float: left
}

#topnav #GitHub {
    float: right
}