@import url("main.css");

#chat-log {
    resize: none;
    overflow: auto;
    width: 100%;
    height: 500px;
    font-size: 20px;
    font-weight: 300;
    border-style: solid;
    background-color: black;
    color: white;
    font-weight: 400;
}

#input-area {
    width: 100%;
    padding-top: 10px;
}

#input-area * {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: gray;
    height: 30px;
    font-size: 20px;
    font-weight: 300;
}

#chat-message-input {
    float: left;
    width: 95%;
}

#chat-message-submit {
    float: right;
    height: 35px;
    width: 4%;
}